html.dark body {
    background-color: #212529; 
    /* color: #f8f9fa; Warna teks terang  */
}

html.dark #sidebar {
    background-color: #1e2023; 
    border-right: 1px solid #333; 
}

html.dark #sidebar .logo {
    color: #fff;
}

html.dark .sidebar-wrapper {
    background-color: #1e2023;
}

html.dark #sidebar .sidebar-menu ul.menu li.sidebar-title {
    color: #888;
}

html.dark #sidebar .sidebar-menu ul.menu li.sidebar-item a {
    color: #e9ecef; 
}

html.dark #sidebar .sidebar-item.active > .sidebar-link {
    background-color: #007774;
    color: #e1f0ff; 
}

html.dark #sidebar .sidebar-item:hover > .sidebar-link{
    background-color: #00777460; 
    color: #e1f0ff; 
}

html.dark .dash-header {
    background-color: #2b2f34;
}

html.dark .dash-header h3{
    color: #e1f0ff;
}

html.dark .page-header {
    background-color: #2b2f34;
}

html.dark .page-header h3{
    color: #e1f0ff;
}

html.dark .card{
    background-color: #2b2f34; 
}

html.dark .card h4, 
html.dark .card h5, 
html.dark .card h6 { 
    color: #e1f0ff;
}

html.dark .card label {
    color: #e1f0ff;
}

html.dark .card-header {
    background-color: #2b2f34;
}

html.dark .table-dark th {
    color: #007774;
}

html.dark .table-dark td {
    color: #e1f0ff;
}

html.dark .text-primary-dark {
    color: #fff !important;
}

html.dark .table-danger {
    --bs-table-bg: #cf7d85;
    --bs-table-striped-bg: #cf7d85;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #cf7d85;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #cf7d85;
    --bs-table-hover-color: #fff;
    color: #fff;
    --border-color: #cf7d85;
}

html.dark .table-success {
    --bs-table-bg: #68b090;
    --bs-table-striped-bg: #68b090;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #68b090;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #68b090;
    --bs-table-hover-color: #fff;
    color: #fff;
    --border-color: #68b090;
}

html.dark .table-light {
    --bs-table-bg: #3e4042;
    --bs-table-striped-bg: #3e4042;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #3e4042;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #3e4042;
    --bs-table-hover-color: #fff;
    color: #fff;
    --border-color: #3e4042;
}

html.dark .bg-light {
    background-color: #35404a !important;
}